.banner {
    font-family: 'Open Sans', sans-serif;
    background: url("/src/img/banner2.png");
    background-size:contain;
    position: relative;
}

.banner__info {
    background-color: #A9B185;
    color: white;
    padding-top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
}

.banner__search {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.banner__searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #000000 !important;
}

.banner__info > button {
    background-color: #000000;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > button:hover {
    background-color: white;
    color: #000000;
}


.banner__info > h5 {
    margin-top: 10px;
}

.news{
    padding-left: 400px;
    font-size: medium;
    font-weight: bold;
    background-color: white;
}

.pd-left-0{
    padding-left: 0px;
}