.detail {
    font-family: 'Open Sans', sans-serif;
}

.bg{
    background-color: #CACBC3;
}

h2 {
    margin: 0px;
    padding-top: 40px;
    padding-left: 40px;
}

h3{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.rating {
    background-color: #CACBC3;
    margin: 0px;
    padding-left: 40px;
    font-size: 14px;
}

.middle_dot {
    padding-left: 10px;
    padding-right: 10px;
}

.heart {
    display: flex;
    align-items: center;
    margin-left: 30px;
    position: absolute;
    left: 1120px;
}

.heart_text {
    border-bottom: 1px solid black;
    margin-left: 10px;
}

.main {
    background-color: #CACBC3;
}

.info {
    display: inline-block;
    float: left;
    background-color: #A9B185;
    color: black;
    margin-left: 40px;
    padding: 20px;
    width: 35%;
}

.image-block {
    width: 660px;
    padding: 10px;
    margin-left: 15px;
    display: inline-block;
    float: left;
    background-color: #E7E3D2;
}

.img {
    object-fit: cover;
    height: 160px;
    width: 200px;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
}


.column {
    float: left;
    margin: 5px;
    padding: 1px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.banner_title {
    padding: 0px;
    width: 85%;
    margin-bottom: 0px;
}


.avatar {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    float: right;
    position: absolute;
    left:455px;
    top: 265px;
    /*top: 24px;*/
    /*right:20px;*/
}

.break {
    margin-top: 0px;
}

ul{
    margin-left: 0px;
    padding-left: 15px;
}

.col-3-section{
    display: inline-block;
    margin-left: 40px;
    padding: 20px;
  }

/* Create three unequal columns that floats next to each other */
.wd-column {
    float: left;
    margin-right:115px;
}

.left, .right {
    width: 25%;
}

.middle {
    width: 50%;
}

li{
    padding-top: 10px;
}

li span {
    display: block;
}

