.f-title{
    padding-left: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.f-card {
    width: 380px;
    height: 380px;
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
    float: left;
}

.games-scroll {
    /*margin-top: 33px;*/
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.f-card:hover {
    transform: scale(1.07);
}

.f-card > img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.f-card__info {
    margin-top: -9px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
    border: 1;
}

.f-card__info > h2 {
    font-size: 18px;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
}

.f-rating {
    font-size: 14px;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
}

.f-card__info > h4 {
    font-size: 14px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 8px;
}

.f-stars {
    padding: 5px;
    position: relative;
    top: 10px;
    left: 4px;
    color: #AC3C3C;
}

.f-pos {
    position: relative;
    left: 300px;
    bottom: 10px;
}
