.question-container {
    font-family: "Open Sans";
    position: relative;
    margin: 40px;
    margin-top: 10px;
}

.question-block{
    padding: 20px 0px 10px 0px;
}

.question-title{
    padding: 5px;
    margin-bottom: 10px;
    color: #282c34;
}

.mg-top-0{
    margin-top: 0px;
}

.wd-avatar {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 0px 12px 0px 0px;
    float: left;
}

.wd-margintop-0{
    margin-top: 0px;
}

.white{
    color: white;
}


.wd-handel-15px {
    margin:0px;
    padding-left: 5px;
    font-size: 15px;
    color: rgb(110, 118, 125);
}

.center{
    align-items: center;
    padding-left: 15px;
}

.like{
    float: left;
    width: 85px;
    height: 55px;
    /*background-color: #d5a08c;*/
}

.hover:hover {
    color: #AC3C3C;
    transform: scale(1.2);
}

.dislike{
    float: left;
    width: 85px;
    height: 55px;
    /*background-color: darkgray;*/
}

.delete{
    float: left;
    width: 45px;
    height: 55px;
    /*background-color: #E7E3D2;*/
}

.icon{
    padding: 5px;
}

.icon-font{
    font-size: 18px;
}

.question-box{
    margin: 50px 25px 0px 0px;
    /*border: 2px solid #A9B185;*/
    background-color: #dae1b4;
    padding: 10px;
}

.text-box{
    font-family: "Open Sans";
    font-size: 14px;
    width: 80%;
}

.post-button{
    float: right;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: bold;
    width: 50px;
    height: 40px;
    margin: 2px 20px 0px 0px;
}


.grid-row {
    /*width: 1150px;*/
    clear: both;
    height: 50px;
    border-bottom: 2px solid #A9B185;
    /*background-color: #AC3C3C;*/
}

.grid-col-left-sidebar {
    width: 60%;
    float: left;
}
.grid-col-main-content {
    width: 10%;
    /*width: 230px;*/
    float: left;
}
.grid-col-right-sidebar {
    width: 30%;
    /*width: 220px;*/
    float: left;
}


@media screen and (min-width: 0px) and (max-width: 900px) {

    .grid-col-left-sidebar {
        width: 60%;
        float: left;
    }
    .grid-col-main-content {
        width: 0px;
        /*width: 230px;*/
        float: left;
    }
    .grid-col-right-sidebar {
        width: 40%;
        /*width: 220px;*/
        float: left;
    }

}